---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  border-collapse: separate;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border: 1px solid mix(#000, $border-color, 25%);
}

th {
  padding: 5px;
  font-weight: bold;
  border: 1px solid mix(#000, $border-color, 25%);
}

td {
  padding: 5px;
  border: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.75em 0 0.75em;
}