<!DOCTYPE html>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']]
    }
  };
</script>


<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico"  | absolute_url }}">
    {% include head-custom.html %}    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}
        
       <h3>Projects</h3>
        <ul>
        <li><a href="/complex">Domain Colouring</a></li>
        <li><a href="/fractals">Fractals</a></li>
        <li><a href="/geodesics">Geodesics</a></li>
        <li><a href="/hyperbolic">Hyperbolic Geometry</a></li>
        <li><a href="/turtle">Lindenmayer Systems</a></li>
        <li><a href="/matrix">Matrix Substitution</a></li>
        <li><a href="/pursuit">Pursuit Curves</a></li>
        <li><a href="/wolfram">Wolfram Automata</a></li>
        </ul>
        
       <h3>Other Fun Stuff</h3>
        <ul>
        <li><a href="/art">Art</a></li>
        <li><a href="/bug_photos">Wildlife Diary</a></li>
        <li><a href="https://github.com/ibeach">GitHub</a></li>
        </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
